/* Use your own code or past solution for Great Idea Web Page CSS here! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	max-width: 880px;
	margin: auto;
}


nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;	

}

nav a {
	text-decoration: none;
	color: gray;
	padding: 20px;
}

	
header section.main {
	margin-top: 75px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

	
}
.header-text {
	width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.heading {
	font-size: 75px;
	text-align: center;

}

button {
	background: white;
    border: 1px solid black;
    padding: 10px 60px;
    font-size: 16px;
}

h3 {
	font-size: 20px;
}

section.top-content {
	border-top: 1px solid black;
	display: flex;
    justify-content: space-between;
}


.features {
	width: 400px;
	padding: 20px 0;
}


.about {
	width: 400px;
	padding: 20px 0;
	
}

.middle-img {
	margin: 20px 0;
	width: 880px;
}

section.bottom-content {
	margin-bottom: 20px;
	display: flex;
    justify-content: space-between;

}

.services {
	width: 267px;
	padding: 10px 0;
}

.product {
	width: 267px;
	padding: 10px 0;

}

.vision {
	width: 267px;
	padding: 10px 0;
}

.contact {
	border-top: 1px solid black;
	margin: 40px 0;
	
}

section.contact h3 {
	margin-top: 20px;
}

footer {
	margin: 100px;
	text-align:	center;
	
}

/* services css*/

section.services-main {
	margin: 20px 0;
    border-top: 1px solid black;
    padding: 20px 0;
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

div#services-info {
	margin: 20px 0;
	padding: 15px 0;
}

div.info-block1 {
	width: 420px;
	border: 1px solid black;
	background: gainsboro;
	margin: 20px 0;
	padding: 15px;

}

div.info-block2 {
	width: 420px;
	border: 1px solid black;
	background: gainsboro;
	padding: 15px;

}

button.learn {
	margin: 15px 0;
	border-radius: 5px;
}

section.services-bottom{
	padding: 30px 0;
	margin: 20px 0;
	border-top: 2px solid black;
	display: flex;
    justify-content: space-between;
}

div#services-facts {
	width: 420px;
}

ul {
	list-style-type: square;
	margin: 20px;	
}

@media (max-width: 500px) {
	header img.header-img {
		display: none;
	}
	header nav {
		width: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
	}
	header nav :last-child {order: -1;}

	header nav a {
		border-bottom: 1px solid black;
		width: 480px;
		font-size: 20px;
		text-align: center
		
	}

	
	
}